.user-detail {
  max-width: 400px;
  text-align: center;
}

.detail-card {
  padding: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.avatar-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.content-center {
  margin-top: 20px;
}

.back-button {
  margin-top: 20px;
  background-color:#579b8c;
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #83bdb0;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 20px 0;
}

.fa-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
